.progress-bar > .track {
    -fx-background-color: transparent;
}
#TurnBar> .bar{
    -fx-background-radius: 10;
    -fx-background-color: green;
}

#hpBar1> .bar{
    -fx-background-radius: 10;
    -fx-background-color: #196280;
}

#hpBar> .bar{
    -fx-background-radius: 10;
}

.progress-bar > .bar {
    /*-fx-background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/ce/Train_icon_small.png");*/
    /*-fx-background-position: right ;*/
    /*-fx-background-color: transparent ;*/
    /*-fx-background-repeat: repeat-x ;*/
    -fx-background-repeat: repeat-x;
    -fx-background-color: red;
}

#CarcChoiceBox.list-cell{
    -fx-background-color: rgba(60, 188, 255, 0.38);
}

#CarcChoiceBox.list-view{
    -fx-opacity: 10;
}

.progress-bar{
    -fx-background-radius: 10;
    -fx-background-color: yello;
}